.main-shape {
	height: 100%;
	width: 20%;
    padding:5px;
    display: inline-block;
}

.target-shape {
	height: 300px;
	width: 300px;
    padding:5px;
    background: gainsboro;
    display: inline-block;
    margin-right: 150px;
}

#square {
    width: 100px; 
    height: 100px; 
    background: orange; 
}

#quadrangle {
    width: 100px; 
    height: 100px; 
    background: #16a085; 
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#triangle { 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 80px 80px;
    border-color: transparent transparent yellowgreen transparent; 
}

.tang-drag {
    position: relative;
}

body {
    margin-left: 200px;
}