.main-shape {
	height: 100%;
	width: 20%;
    padding: 5px;
    display: -webkit-box;
}

.target-shape {
	height: 180px;
	width: 180px;
    background: gainsboro;
    margin-right: 150px;
    float: left;
}

#square {
    width: 90px; 
    height: 90px; 
    background: orange; 
}

#square2 {
    width: 90px; 
    height: 90px; 
    background: #16a085; 
}

#triangle { 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 90px 90px 90px;
    border-color: transparent transparent yellowgreen transparent; 
}

#triangle2 { 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 90px 90px 0;
    border-color: transparent transparent #66ffff transparent; 
}

#triangle3 { 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 90px 90px 0;
    border-color: transparent transparent #ccffcc transparent; 
}

.tang-drag {
    position: relative;
    margin: 0px 5px 5px 5px;
    display: inline-block;
}

.shp-rotate:before {
    content: "\f01e";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: bolder;
    text-decoration: inherit;
    color: #660033;
    font-size: 22px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: table;
    margin-bottom: 45px;
    margin-top: 45px;
}

.contain {
    margin-left: 40%;
}
